# Copyright 2021-2026 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: BSD-2-Clause

Checks: >
  *,
  -*-magic-numbers,
  -altera-*,
  -bugprone-unchecked-string-to-number-conversion,
  -cert-err33-c,
  -cert-err34-c,
  -concurrency-mt-unsafe,
  -llvmlibc-*,
  -misc-include-cleaner,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
FormatStyle: file
HeaderFilterRegex: '.*'
WarningsAsErrors: '*'
