# Copyright 2026 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  *,
  -altera-*,
CheckOptions:
  - key:   readability-function-cognitive-complexity.Threshold
    value: '0'
  - key:   readability-identifier-length.IgnoredParameterNames
    value: '^(fn)|(l)|(lc)$'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
