# Copyright 2021-2026 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: BSD-2-Clause

Checks: >
  -android-cloexec-fopen,
  -bugprone-easily-swappable-parameters,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-switch-missing-default-case,
  -clang-analyzer-security.ArrayBound,
CheckOptions:
  - key:   readability-function-cognitive-complexity.Threshold
    value: '51'
InheritParentConfig: true
